.header{
    text-align: center;
}

.subHeader{
    text-align: center;
}

.buttons{
    text-align: center;
}

.results{
    text-align: center;
    margin: 2em;
}

.humScore, .compScore{
    text-align: center;
    margin: 1em;
}

button{
    font-size: 20px;
    font-weight: bold;
    margin: 0.5em;
}

img{
    height: 300px;
    width: auto;
}

.imageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}